main {
  margin: 8% 5% 8% 5%;
  display: flex;
  justify-content: space-between; }
  main nav {
    width: 23%;
    background: #1a282e;
    display: flex;
    flex-direction: column;
    align-items: center; }
  main section.frame {
    width: 75%;
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    background: white;
    overflow: scroll; }

#congrats_header
{
    background: #3c763d;
}

#congrats {
    color: green;
    font-weight: lighter;
    padding: 6%;
    text-align: center;
    font-style: italic;
}

figure.profile_pic {
  position: relative; }
  figure.profile_pic img {
    width: 100%;
    height: auto; }
  figure.profile_pic figcaption {
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.6);
    text-overflow: ellipsis;
    overflow: hidden;
    color:white;
    font-weight: bold;
    text-align: center;
    width: 100%; }

.profile_nav .profile_info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center; }
  .profile_nav .profile_info h3 {
    margin: 0;
    padding: 0.5em 0 0 0; }
  .profile_nav .profile_info p {
    padding: 0.8em;
    padding-bottom: 10%;
    max-width: 100%;
    word-wrap: break-word;
    color: white;
    font-size: 0.8em;
    text-align: justify; }
  .profile_nav .profile_info a {
    width: 60%;
    display: block;
    text-align: center;
    background: orange;
    font-size: 1.5em;
    margin-bottom: 1em;
    color: white;
    border-radius: 10px; }
    .profile_nav .profile_info a:hover {
      background: #FA8E24;
      text-decoration: none; }

section.frame a {
  flex: 0 1 20%;
  max-height: 35%;
  margin: 0 5% 5% 0; }
  section.frame a:hover {
    transform: scale(1.01);}
  section.frame a:nth-child(4) {
    margin-right: 0; }
  section.frame a article figure img {
    width: 100%;
    height: auto; }
  section.frame a article figure figcaption {
    text-align: center; }

    .modal-header {
  background: orange; }

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
  overflow-x: hidden; }

.user_profile {
  width: 24%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
  margin-bottom: 5%; }
  .user_profile:hover {
    text-decoration: none;
    color: orange; }
  .user_profile:focus {
    text-decoration: none;
    color: orange; }
  .user_profile article figure {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    text-align: center; }
    .user_profile article figure img {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
    .user_profile article figure figcaption {
      width: 100%; }

@media (max-width: 500px) {
  /*Header queries start*/
  .category_select {
    width: 30%;
    font-size: 0.7em; }
  #logo_heading {
    width: 10%; }
  #japege {
    visibility: hidden;
    font-size: 0;
    margin: 0; }
  #j {
    visibility: visible;
    position: absolute;
    left: 10px;
    top: -5px; }
  footer .about {
    flex-direction: column; }
  footer .about a {
    font-size: 1.2em;
    padding-top: 10%;
    padding-left: 30%; }
  .email_signup h2 {
    padding-top: 5%;
    font-size: 1.1em; }
  .social_media a {
    padding-top: 20%; }
  .social_media img {
    max-height: 30px;
    max-width: 30px;
    margin-left: 0%; } }

@media (max-width: 672px) and (min-width: 501px) {
  /*Header queries start*/
  .category_select {
    width: 30%;
    font-size: 0.6em; }
  #logo_heading {
    width: 10%; }
  #japege {
    visibility: hidden;
    font-size: 0;
    margin: 0; }
  #j {
    visibility: visible;
    position: absolute;
    left: 10px;
    top: -5px; }
  footer .about a {
    font-size: 1.5em; }
  .email_signup h2 {
    font-size: 1.3em; }
  .social_media img {
    max-height: 50px;
    max-width: 30px; } }

@media (max-width: 800px) and (min-width: 673px) {
  /*Header queries start*/
  .category_select {
    width: 30%;
    font-size: 0.6em; }
  #japege {
    padding-top: 5%;
    font-size: 1.5em; }
  footer .about a {
    font-size: 1.7em; }
  .email_signup h2 {
    font-size: 1.5em; }
  .social_media img {
    max-height: 60px;
    max-width: 40px; } }

@media (max-width: 1200px) and (min-width: 901px) {
  figure.profile_pic figcaption {
    font-size: 1.5em; } }

@media (max-width: 900px) and (min-width: 701px) {
  main {
    margin: 15% 7% 10% 7%; }
  figure.profile_pic figcaption {
    font-size: 1.2em; }
  .profile_nav .profile_info h3 {
    font-size: 1em; }
  .profile_nav .profile_info p {
    font-size: 0.7em; }
  .profile_nav .profile_info a {
    font-size: 1em; } }

@media (max-width: 700px) {
  main {
    flex-direction: column;
    align-items: center; }
    main section.frame {
      width: 100%;
      margin-top: 5%; }
      main section.frame a {
        flex: 0 0 28%; }
        main section.frame a:nth-child(3) {
          margin-right: 0; }
        main section.frame a:nth-child(4) {
          margin-right: 5%; }
    main nav {
      width: 100%;
      margin-top: 15%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      main nav figure.profile_pic {
        align-self: flex-start;
        margin-top: 5%;
        width: 30%; }
        main nav figure.profile_pic figcaption {
          font-size: 1em; }
      main nav .profile_info {
        width: 65%; } }

@media (max-width: 400px) {
  figure.profile_pic figcaption {
    font-size: 0.7em !important; } }

    @media (max-width: 500px) {
  a article figure img {
    width: 80px !important;
    height: 80px !important; } }

@media (max-width: 400px) {
  a article figure figcaption {
    font-size: 0.8em !important;
    padding: 2%; }
  a article figure img {
    width: 60px !important;
    height: 60px !important; } }
